Please confirm your subscription to the {{ branding.bdSiteName }} job updates mailing list
======================================================================================

To confirm your subscription, please click the following link:
{{ branding.bdSubURL }}?token={{ subCode }}

You'll be updated when new jobs are posted for the following tags:
{% for n in tagNames %}
  - {{ n }}

{% endfor %}

If you didn't request to be added to the job updates mailing list, you may ignore/delete this email.

----
Happy Hunting!
{{ branding.bdSiteName }}
