{% include "set-font.html.jinja2" %}

<h1>Please confirm your subscription to {{ branding.bdSiteName }}</h1>

<p><strong>To confirm your subscription, <a href="{{ branding.bdSubURL }}?token={{ subCode }}" target="_blank">please click here</a></strong></p>
<p>You'll be updated when new jobs are posted for the following tags:</p>

<ul>
{% for n in tagNames %}
  <li>{{ n }}</li>
{% endfor %}
</ul>

<p>If you didn't request to be added to the job updates mailing list, you may ignore/delete this email.</p>

<hr style="width: 80%; border: solid rgba(120,120,120,0.3) 1px;"/>
<p>
Happy Hunting!
<br/>
{{ branding.bdSiteName }}
</p>
