<hr style="width: 80%; border: solid rgba(120,120,120,0.3) 1px;"/>
<p>
Happy Hunting!
<br/>
{{ branding.bdSiteName }}
</p>

<a href="{{ branding.bdUnsubURL }}?action=unsubscribe&token={{ unsubCode }}" target="_blank">Click here To unsubscribe</a> from future notifications.
