{% include "set-font.html.jinja2" %}
<h1>Your password reset has been completed</h1>
<p>If you've received this email in error (and you haven't completed a password reset), please contact support immediately</p>

<hr style="width: 80%; border: solid rgba(120,120,120,0.3) 1px;"/>
<p>
Happy Hunting!
<br/>
{{ branding.bdSiteName }}
</p>
