Your password reset has been completed
======================================

Your password has been succesfully reset. If you've received this email in error (and you haven't requested a password reset), please contact support

----
Happy hunting!
{{ branding.bdSiteName }}
