{% include "set-font.html.jinja2" %}
<h1>Your password reset has been initiated</h1>
<p>If you've received this email in error (and you haven't requested a password reset), please contact support</p>

<h2>Please visit the following URL to enter a new password:</h2>
<p><a href="{{ serverInfo.siFrontendURL }}/#/login?show=password-reset-finish&token={{ token }}" target="_blank">Click here to reset your password</a></p>

<hr style="width: 80%; border: solid rgba(120,120,120,0.3) 1px;"/>
<p>
Happy Hunting!
<br/>
{{ branding.bdSiteName }}
</p>

<a href="{{ branding.bdUnsubURL }}?token={{ unsubCode }}" target="_blank">Click here To unsubscribe</a> from future notifications.
