Your password reset has been initiated
======================================

If you've received this email in error (and you haven't requested a password reset), please contact support@techjobs.tokyo

Please visit the following URL to enter a new password:
{{ serverInfo.siFrontendURL }}/#/login?show=password-reset-finish&token={{ token }}

----
Happy hunting!
{{ branding.bdSiteName }}
