Test email
==========

This is a test email sent to {{ recipientEmail }} (from admin user w/ email {{ sender.emailAddress }}), from the server @ {{ serverInfo.siBackendURL }}.

{% include "footer.text.jinja2" %}
