{% include "set-font.html.jinja2" %}

<h1>Test email (from {{ sender.emailAddress }})</h1>
<h2>This email was to be sent to {{ recipientEmail }}, if you have received this email in error please contact support</h2>
<p>This is a test email from the server (@ <strong>{{ serverInfo.siBackendURL }}</strong>)!</p>

{% include "footer.html.jinja2" %}
