TechJobs.Tokyo.Weekly
=====================
{{ sponsoredCompany }}

Here are 3 interesting positions might pique your interest based on the tags you've followed on TechJobs.Tokyo:

{% for j in jobs %}
  {{ j.title}} ({{ j.jobType }}, posted {{ j.postingDate }})
  -----------------------------
  URL: {{ jobUrls[loop.index0] }}

  Employer: {{ employers[loop.index0] }}

  Tags: {% for t in tags %} {{ t.tagName }} {% endfor %}


{% endfor %}

{% include "footer.text.jinja2" %}
