{% include "set-font.html.jinja2" %}

<h1>TechJobs.Tokyo.Weekly</h1>

<p style="background-color: slategray;color: white; border-radius: .1em;">
  {{ sponsoredCompany }}
</p>

<strong>Fresh job postings you might be interested in, based on the tags you've followed:</strong>

{% for j in jobs %}
  <p>
    <a href="{{ jobUrls[loop.index0] }}" target="_blank"><h3>{{ j.title }} ({{ j.jobType }}, posted {{  j.postingDate }})</h3></a>
    <h4>{{ employers[loop.index0] }}</h4>
    <span>Tags:&nbsp;</span>
    {% for t in tags %}
      <span style="background-color:{{ t.tagCSSColor }}; color: white; border-radius: 0.1em; font-size: 70%; padding: .25em;">{{ t.tagName }}</span>
    {% endfor %}
  </p>
{% endfor %}

{% include "footer.html.jinja2" %}
